.blog  {
    --offset: 1.5rem;
    &__pagination {
        margin-top: var(--offset);
    }
    &__search {
        margin-bottom: var(--offset);
    }
    &__categories {
        margin-bottom: var(--offset);
    }
    &__details {
        margin-top: var(--offset);
    }
    @media screen and (min-width: 768px) {
        --offset: 2rem;
    }
    @media screen and (min-width: 1220px) {
        --offset: 2.5rem;
    }
}