extends settings/layout

prepend html
  - const lang = "en";

prepend head
  - const pageTitle = "CQR careers";
  - const themeColor = "#000";

append head

append content
  include components/header
  include components/careers/intro
  include components/careers/why
  include components/careers/opportunities
  include components/footer

append scripts
