extends settings/layout

prepend html
  - const lang = "en";

prepend head
  - const pageTitle = "CQR home";
  - const themeColor = "#000";

append head

append content
  include components/header
  include components/home/intro
  include components/home/about
  include components/home/we
  include components/about/intro
  include components/about/about
  include components/about/mission
  include components/about/team
  include components/about/investors
  include components/home/services
  include components/services/intro
  include components/services/services
  include components/services/resources
  include components/sectors/intro
  include components/sectors/industries
  include components/home/latest
  include components/careers/intro
  include components/careers/why
  include components/careers/opportunities
  include components/blog/intro
  include components/blog/blog
  include components/contacts/intro
  include components/contacts/contact-form



  include components/footer

append scripts
