extends settings/layout

prepend html
  - const lang = "en";

prepend head
  - const pageTitle = "CQR post";
  - const themeColor = "#000";

append head

append content
  include components/header
  include components/post/intro
  include components/post/post
  include components/footer
  

append scripts
