section.block 
    .container 
        .wrap.wrap--white 
            .row 
                .col-12.col-md-6 
                    .pre-title(data-aos="fade-left") Title Name
                    h2.mb-0(data-aos="fade-up") Contact Form
                    br
                    div(data-aos="fade-up", data-aos-delay="400") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .col-12.col-md-6(data-aos="zoom-in") 
                    form.form(action="") 
                        .row 
                            .col-12 
                                input(type="text", name="", placeholder="Full Name", required)
                            .col-12 
                                input(type="email", name="", placeholder="Email Address", required)
                            .col-12 
                                select(name="", required) 
                                    option(value="1", selected) value 1 
                                    option(value="1") value 2 
                                    option(value="1") value 3 
                            .col-12 
                                textarea(name="", placeholder="Comments / Questions", required, rows="4")
                            .col-12 
                                button.btn.btn-primary.btn-arrow(type="submit") Send massage
