section.intro.block#contacts
    .container 
        h1.text-center(data-aos="fade-left") Contact Us
        p.intro__subtitle.text-center(data-aos="fade-up", data-aos-delay="400") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin dui interdum tempus tempor.
        .text-center 
            picture
                source(srcset="img/map-mob.png", media="(max-width: 575px)")
                img(src="img/map.png", alt="")
        .row
            .col-12.col-md-4 
                .contact
                    h5.contact-title Location
                    p.contact-text CQR HQ Location: Prince Turkey Street, Al-Corniche, Khobar 34413
                    a.contact-link.link.link-arrow(href="#") Show on map
            .col-12.col-md-4 
                .contact
                    h5.contact-title Email Us
                    p.contact-text info@cqr.com.sa
                    a.contact-link.link.link-arrow(href="mailto:info@cqr.com.sa") Write us
            .col-12.col-md-4 
                .contact
                    h5.contact-title Phone
                    p.contact-text +966 3808654
                    a.contact-link.link.link-arrow(href="tel:+9663808654") Call us