section.block.resources 
    .container 
        .wrap.wrap--green
            .pre-title.text-center(data-aos="fade-up") OUR STRENGTHS
            h2.text-center(data-aos="fade-down") KEY RESOURCES
            .row 
                .col-12.col-lg-4 
                    .card.card--white(data-aos="flip-left", data-aos-delay="200")
                        .card-body 
                            h5.card-title Cybersecurity experts 
                            p.card-text We established strategic partnerships with leading companies in Saudi Arabia, Technology providers, cybersecurity vendors, and research institutes to provide us with access to cutting-edge technologies and industry insights. Having such partnership enables us to leverage specialized expertise and collaborate on research and development initiatives to enhance our cybersecurity offerings.
                        .card-footer
                            .text-center 
                                img.img-circled(src="img/icon-3.png", alt="")
                .col-12.col-lg-4 
                    .card.card--white(data-aos="flip-left", data-aos-delay="300")
                        .card-body 
                            h5.card-title Cybersecurity experts 
                            p.card-text We utilize a range of advanced security tools and technologies to assess, monitor and protect industrial control systems. these tools include network monitoring solutions , intrusion detection systems , threat intelligence platforms and security information and event management systems. these resources help us enhance our capabilities and effectively detect and deal with cyber risks
                        .card-footer
                            .text-center 
                                img.img-circled(src="img/icon-4.png", alt="")
                .col-12.col-lg-4 
                    .card.card--white(data-aos="flip-left", data-aos-delay="400")
                        .card-body 
                            h5.card-title Industry partnerships 
                            p.card-text Our team of skilled world-renowned OT cybersecurity experts forms a crucial resource for our company. These experts possess deep knowledge and experience in industrial control systems , ICS networks threat behaviors , incident response and OT cyber security management
                        .card-footer
                            .text-center 
                                img.img-circled(src="img/icon-5.png", alt="")