section.services.block
    .container 
        .pre-title.text-center(data-aos="fade-down") Services
        h2.text-center(data-aos="fade-up") Featured Services
        .services__categories
            .swiper.swiper-feature-service-categories
                .swiper-navigation 
                    .swiper-button-prev
                    .swiper-button-next
                .swiper-wrapper
                    .swiper-slide 
                        .tab-btn
                            .tab-btn-content IT Managed Security Operations Center (MSOC)
                    .swiper-slide 
                        .tab-btn 
                            .tab-btn-content Proactive Services OT Cybersecurity Services
                    .swiper-slide 
                        .tab-btn  
                            .tab-btn-content Reactive Services
        .services__details
            .swiper.swiper-feature-service-details
                .swiper-wrapper
                    .swiper-slide 
                        .services__wraps 
                            .wrap.wrap--green.services__wrap
                                .row 
                                    .col-12.col-md-6 
                                        h3.mb-0 Continuous Monitoring 
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b 24/7 Real-Time Surveillance:
                                                |  Our MSOC provides constant, around-the-clock monitoring of your OT systems to detect and respond to threats immediately.
                                            li 
                                                b Secure Connectivity:
                                                |  Utilizing VPN connections and client-side listeners installed at your site, we ensure seamless and secure system oversight without compromising your operations.
                            .wrap.wrap--green.services__wrap
                                .row 
                                    .col-12.col-md-6 
                                        h3.mb-0 Threat Detection and Response
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Rapid Alerts and Notifications:
                                                |  We guarantee a
                                                b 5-minute response time
                                                |   to notify you of any detected security alerts or anomalies.
                                            li 
                                                b Dedicated OT Security Experts: 
                                                |  Our team of specialists is on standby 24/7 to respond to and mitigate threats promptly.
                                            li 
                                                b Incident Reporting:
                                                |  Detailed incident reports are generated and sent to you, providing comprehensive insights into any security events.
                            .wrap.wrap--green.services__wrap
                                .row 
                                    .col-12.col-md-6 
                                        h3.mb-0 Advanced Analytics
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b AI-Powered Threat Detection: 
                                                |   Leveraging artificial intelligence and machine learning, we proactively hunt for threats, identifying potential vulnerabilities before they can be exploited.
                                            li 
                                                b Customized OT Threat Intelligence:
                                                |  We deliver tailored threat intelligence feeds specific to your industrial control systems, enhancing detection accuracy.
                                            li 
                                                b Regular Reporting and Trend Analysis: 
                                                |  Receive detailed insights and trend analyses to continuously improve your security posture over time.
                    .swiper-slide 
                        .services__wraps
                            .wrap.wrap--green.services__wrap
                                .row 
                                    .col-12.col-md-6 
                                        h3.mb-0 Risk Assessment
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Identify Potential Threats: 
                                                |  Conduct comprehensive evaluations to uncover vulnerabilities in both IT and OT systems. 
                                            li 
                                                b Assess Risk Levels: 
                                                |  Determine the severity and likelihood of potential risks to prioritize mitigation efforts.
                                            li 
                                                b Develop Mitigation Strategies: 
                                                |  Create proactive plans to address and reduce identified risks. 
                            .wrap.wrap--green.services__wrap
                                .row 
                                    .col-12.col-md-6 
                                        h3.mb-0 Compliance Assessment 
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Analyze Regulatory Compliance: 
                                                |  Review current practices against industry standards and regulatory requirements.
                                            li 
                                                b Identify Compliance Gaps: 
                                                |  Detect areas where compliance is lacking or needs improvement. 
                                            li 
                                                b Recommend Corrective Actions: 
                                                |  Suggest measures to achieve full compliance and avoid potential penalties.
                            .wrap.wrap--green.services__wrap
                                .row 
                                    .col-12.col-md-6 
                                        h3.mb-0 Maturity Assessment
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Evaluate Cybersecurity Maturity: 
                                                |   Assess the current maturity levels of your organization's people, processes, and technologies. 
                                            li 
                                                b Identify Improvement Areas: 
                                                |  Highlight gaps and areas needing enhancement. 
                                            li 
                                                b Develop Improvement Roadmap: 
                                                |  Create a strategic plan to elevate your cybersecurity posture over time.
                        .services__wraps
                            .wrap.wrap--green.services__wrap
                                .row.row-reverse 
                                    .col-12.col-md-6 
                                        h3.mb-0 Architecture Review
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Secure Network Architecture:
                                                |   Examine the design and structure of your network systems for security weaknesses.
                                            li 
                                                b Analyze Connections: 
                                                |  Assess both physical and logical connections within your network.
                                            li 
                                                b Recommend Enhancements: 
                                                |  Provide suggestions to strengthen network security and resilience.
                            .wrap.wrap--green.services__wrap
                                .row.row-reverse 
                                    .col-12.col-md-6 
                                        h3.mb-0 OT Cybersecurity Strategy and Program Development 
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Develop Security Policies: 
                                                |  Establish comprehensive policies tailored to your OT environment.
                                            li 
                                                b Implement Procedures:
                                                |  Define procedures that support and enforce these security policies.
                                            li 
                                                b Deploy Cybersecurity Framework:
                                                |  Introduce a robust framework to guide ongoing security efforts.
                            .wrap.wrap--green.services__wrap
                                .row.row-reverse 
                                    .col-12.col-md-6 
                                        h3.mb-0 Awareness and Training Programs 
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Specialized Staff Training: 
                                                |  E Conduct training sessions for staff at all levels to promote a security-conscious culture.
                                            li 
                                                b Develop Awareness Materials: 
                                                |  Create resources to increase cybersecurity awareness among employees.
                                            li 
                                                b Measure Effectiveness: 
                                                |  Assess the impact of training programs to ensure objectives are met.
                        .services__wraps
                            .wrap.wrap--green.services__wrap
                                .row
                                    .col-12.col-md-6 
                                        h3.mb-0 Threat Hunting
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Simulated Incident Preparation:  
                                                |  Design realistic scenarios to test incident response capabilities.
                                            li 
                                                b Facilitate Exercises:
                                                |  Lead practice sessions to improve readiness for actual incidents.
                                            li 
                                                b Evaluate Performance:
                                                |  Provide feedback and recommendations for enhancement.
                            .wrap.wrap--green.services__wrap
                                .row
                                    .col-12.col-md-6 
                                        h3.mb-0 Vulnerability Assessment 
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Identify Hidden Threats:
                                                |  Conduct regular threat hunts to uncover undetected vulnerabilities.
                                            li 
                                                b Mitigate Risks: 
                                                |  Actively search for and address potential threats before they become incidents.
                                            li 
                                                b Report Findings:
                                                |  Document findings and actions taken to inform future strategies.
                            .wrap.wrap--green.services__wrap
                                .row
                                    .col-12.col-md-6 
                                        h3.mb-0 Tabletop Exercises
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Comprehensive Scanning: 
                                                |  Perform detailed scans to identify vulnerabilities in systems and networks.
                                            li 
                                                b Risk Prioritization:
                                                |   Rank vulnerabilities based on their risk level to prioritize remediation efforts.
                                            li 
                                                b Actionable Recommendations: 
                                                |  Provide guidance on addressing identified vulnerabilities effectively.
                    .swiper-slide 
                        .services__wraps 
                            .wrap.wrap--green.services__wrap
                                .row
                                    .col-12.col-md-6 
                                        h3.mb-0 Incident Response
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Objective: 
                                                |  Immediate Response to Incidents
                                            li 
                                                b 24/7 Incident Response Coordination:
                                                |  We organize and manage response efforts around the clock to minimize the impact of cybersecurity incidents.
                                            li 
                                                b Rapid Onsite and Offsite Support:
                                                |  Our team provides immediate assistance both remotely and on-site to contain and mitigate threats swiftly.
                                            li 
                                                b Tailored Incident Response Strategy: 
                                                |  We develop customized response plans specific to your organization's needs and infrastructure.
                            .wrap.wrap--green.services__wrap
                                .row
                                    .col-12.col-md-6 
                                        h3.mb-0 Forensic Analysis
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Objective: 
                                                |  Investigate and Analyze Incidents
                                            li 
                                                b In-Depth Investigation:
                                                |  We determine the cause and full impact of security breaches through comprehensive analysis.
                                            li 
                                                b Detailed Incident Reporting: 
                                                |  Findings are thoroughly documented to inform stakeholders and guide future prevention efforts.
                                            li 
                                                b Root Cause Analysis: 
                                                |   We identify exploited vulnerabilities and recommend improvements to prevent recurrence.
                            .wrap.wrap--green.services__wrap
                                .row
                                    .col-12.col-md-6 
                                        h3.mb-0 Remediation Planning
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Objective: 
                                                |  Recover and Restore Operations
                                            li 
                                                b Develop Remediation Plans:
                                                |   We create actionable strategies to recover systems and restore normal operations promptly.
                                            li 
                                                b Collaborate with Internal Teams: 
                                                |  Working closely with your staff ensures effective implementation of remediation efforts.
                        .services__wraps
                            .wrap.wrap--green.services__wrap
                                .row.row-reverse
                                    .col-12.col-md-6 
                                        h3.mb-0 Disaster Recovery Planning
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Objective: 
                                                |  Ensure Business Continuity After Incidents
                                            li 
                                                b Business Continuity Strategies: 
                                                |   We help develop plans to maintain essential functions during and after a crisis.  
                                            li 
                                                b System Recovery Protocols: 
                                                |  Establish procedures for data recovery and  system restoration to minimize downtime.
                                            li 
                                                b Testing and Validation: 
                                                |  Conduct drills and simulations to ensure the effectiveness of disaster recovery plans.
                            .wrap.wrap--green.services__wrap 
                                .row.row-reverse
                                    .col-12.col-md-6 
                                        h3.mb-0 Disaster Recovery Planning
                                    .col-12.col-md-6 
                                        ul.check-list 
                                            li 
                                                b Objective: 
                                                |  Improve Future Response and Prevention
                                            li 
                                                b Conduct Thorough Analyses:
                                                |  We examine incident responses to identify strengths and areas for improvement.
                                            li 
                                                b Lessons Learned Sessions: 
                                                |  Facilitate discussions to extract insights and enhance team readiness.
                                            li 
                                                b Continuous Improvement:
                                                |   Enhance incident response plans and procedures based on review findings.  
script. 
    var featureServiceCategories = new Swiper(".swiper-feature-service-categories", {
        slidesPerView: 1.5,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        watchSlidesProgress: true,
        breakpoints: {
            576: {
                slidesPerView: 2,
            },
            768: {
                slidesPerView: 2.5,
            },
            1220: {
                slidesPerView: 3,
            },
        },
        on: {
            slideChange: function (slider) {
                if (featureServiceDetails) {
                    featureServiceDetails.slideTo(slider.activeIndex);
                }
                
            }
        }
    });
    var featureServiceDetails = new Swiper(".swiper-feature-service-details", {
        spaceBetween: 16,
        autoHeight: true,   
        //- navigation: {
        //- nextEl: ".swiper-button-next",
        //- prevEl: ".swiper-button-prev",
        //- },
        thumbs: {
            swiper: featureServiceCategories,
        },
    });