section.blog.block 
    .container 
        h2.text-center(data-aos="fade-left") Blog
        .blog__categories(data-aos="flip-up")
            .swiper.swiper-blog-categories
                .swiper-navigation 
                    .swiper-button-prev
                    .swiper-button-next
                .swiper-wrapper
                    .swiper-slide 
                        .tab-btn.active
                            a.tab-btn-content(href="./blog.html") View all
                    .swiper-slide 
                        .tab-btn 
                            a(href="./blog.html").tab-btn-content News and trends
                    .swiper-slide 
                        .tab-btn  
                            a(href="./blog.html").tab-btn-content Case Studies and Thought Leadership Articles
                    .swiper-slide 
                        .tab-btn  
                            a(href="./blog.html").tab-btn-content Webinars
                    .swiper-slide 
                        .tab-btn  
                            a(href="./blog.html").tab-btn-content White Papers
                    .swiper-slide 
                        .tab-btn  
                            a(href="./blog.html").tab-btn-content ⁠Investor Relations
        .blog__search(data-aos="fade-left") 
            .row.justify-content-end 
                .col-8.col-md-6.col-xl-4 
                    form(action="") 
                        .input-icon-wrap 
                            img.input-icon(src="img/search.svg", alt="")
                            input(type="search", placeholder="Search", required)
        .blog__details(data-aos="zoom-in")
            .row 
                .col-12.col-sm-6.col-lg-4
                    a.card.card--green(href="./post.html") 
                        .card-body 
                            img.card-img(src="img/blog-img-2.jpg", alt="")
                            p   
                                span.badge News
                            h5.card-title Lorem Ipsum generators on the Internet
                            p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        .card-footer 
                            img.text-icon(src="img/calendar.svg", alt="") 
                            |  12 Sep 2021
                .col-12.col-sm-6.col-lg-4
                    a.card.card--green(href="./webinar.html") 
                        .card-body 
                            picture.video-cover
                                img.card-img(src="img/blog-img-3.jpg", alt="")
                            p   
                                span.badge Webinar
                            h5.card-title Lorem Ipsum generators on the Internet
                            p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        .card-footer 
                            img.text-icon(src="img/calendar.svg", alt="") 
                            |  12 Sep 2021
                .col-12.col-sm-6.col-lg-4
                    a.card.card--green(href="./post.html") 
                        .card-body 
                            img.card-img(src="img/blog-img-4.jpg", alt="")
                            p   
                                span.badge News
                            h5.card-title Lorem Ipsum generators on the Internet
                            p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        .card-footer 
                            img.text-icon(src="img/calendar.svg", alt="") 
                            |  12 Sep 2021
                .col-12.col-sm-6.col-lg-4
                    a.card.card--green(href="./post.html") 
                        .card-body 
                            img.card-img(src="img/blog-img-2.jpg", alt="")
                            p   
                                span.badge News
                            h5.card-title Lorem Ipsum generators on the Internet
                            p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        .card-footer 
                            img.text-icon(src="img/calendar.svg", alt="") 
                            |  12 Sep 2021
                .col-12.col-sm-6.col-lg-4
                    a.card.card--green(href="./webinar.html") 
                        .card-body 
                            picture.video-cover
                                img.card-img(src="img/blog-img-3.jpg", alt="")
                            p   
                                span.badge Webinar
                            h5.card-title Lorem Ipsum generators on the Internet
                            p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        .card-footer 
                            img.text-icon(src="img/calendar.svg", alt="") 
                            |  12 Sep 2021
                .col-12.col-sm-6.col-lg-4
                    a.card.card--green(href="./post.html") 
                        .card-body 
                            img.card-img(src="img/blog-img-4.jpg", alt="")
                            p   
                                span.badge News
                            h5.card-title Lorem Ipsum generators on the Internet
                            p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        .card-footer 
                            img.text-icon(src="img/calendar.svg", alt="") 
                            |  12 Sep 2021
                .col-12.col-sm-6.col-lg-4
                    a.card.card--green(href="./post.html") 
                        .card-body 
                            img.card-img(src="img/blog-img-2.jpg", alt="")
                            p   
                                span.badge News
                            h5.card-title Lorem Ipsum generators on the Internet
                            p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        .card-footer 
                            img.text-icon(src="img/calendar.svg", alt="") 
                            |  12 Sep 2021
                .col-12.col-sm-6.col-lg-4
                    a.card.card--green(href="./webinar.html") 
                        .card-body 
                            picture.video-cover
                                img.card-img(src="img/blog-img-3.jpg", alt="")
                            p   
                                span.badge Webinar
                            h5.card-title Lorem Ipsum generators on the Internet
                            p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        .card-footer 
                            img.text-icon(src="img/calendar.svg", alt="") 
                            |  12 Sep 2021
                .col-12.col-sm-6.col-lg-4
                    a.card.card--green(href="./post.html") 
                        .card-body 
                            img.card-img(src="img/blog-img-4.jpg", alt="")
                            p   
                                span.badge News
                            h5.card-title Lorem Ipsum generators on the Internet
                            p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        .card-footer 
                            img.text-icon(src="img/calendar.svg", alt="") 
                            |  12 Sep 2021
            nav.blog__pagination(aria-label="...")
                ul.pagination
                    li.pagination-item.disabled
                        a.btn.btn-primary.btn-sm(href="") 
                            svg.text-icon(width="11", height="12", viewBox="0 0 11 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M10.166 6L0.832682 6M0.832682 6L5.49935 10.6667M0.832682 6L5.49935 1.33333", stroke="currentColor", stroke-width="1.33333", stroke-linecap="round", stroke-linejoin="round")
                            |  Prev
                    li.pagination-item
                        a.pagination-link(href="#") 1
                    li.pagination-item.active
                        span.pagination-link 2
                    li.pagination-item
                        a.pagination-link(href="#") 3
                    li.pagination-item
                        span ...
                    li.pagination-item
                        a.pagination-link(href="#") 5
                    li.pagination-item
                        a.btn.btn-primary.btn-sm(href="#") Next  
                            svg.text-icon(width="17", height="16", viewBox="0 0 17 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M3.83398 8H13.1673M13.1673 8L8.50065 3.33333M13.1673 8L8.50065 12.6667", stroke="currentColor", stroke-width="1.33333", stroke-linecap="round", stroke-linejoin="round")

script. 
    var blogCategories = new Swiper(".swiper-blog-categories", {
        slidesPerView: 1.5,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            576: {
                slidesPerView: 2,
            },
            768: {
                slidesPerView: 2.5,
            },
            992: {
                slidesPerView: 3,
            },
            1220: {
                slidesPerView: 3.5,
            },
            1440: {
                slidesPerView: 4,
            },
        }
    });