section.intro.block 
    img.intro__bg(src="img/blog-intro-bg.svg", alt="")
    .container 
        h1.text-center(data-aos="fade-left") Blog 
        .row(data-aos="zoom-in", data-aos-delay="400") 
            .col-12 
                .card.card--green(data-aos="flip-left", data-aos-delay="400") 
                    .card-body 
                        .row 
                            .col-12.col-md-6 
                                img.card-img.mb-0(src="img/blog-img-1.jpg", alt="")
                            .col-12.col-md-6 
                                p 
                                    span.badge News
                                h4.card-title Lorem Ipsum is simply.
                                p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Diam ultrices odio ornare sollicitudin habitant viverra ornare. 
                                a.btn.btn-primary.btn-arrow(href="./post.html") LEARN MORE
            .col-12.col-md-4
                .card.card--green(data-aos="flip-left", data-aos-delay="500")
                    .card-body
                        p 
                            span.badge News
                        p.card-text Convallis interdum mattis morbi ullatmcorper. Felis, elementum
                    .card-footer 
                        a.link.link-arrow(href="./post.html") REad more
            .col-12.col-md-4
                .card.card--green(data-aos="flip-left", data-aos-delay="600")
                    .card-body
                        p 
                            span.badge News
                        p.card-text Convallis interdum mattis morbi ullatmcorper. Felis, elementum
                    .card-footer 
                        a.link.link-arrow(href="./post.html") REad more
            .col-12.col-md-4
                .card.card--green(data-aos="flip-left", data-aos-delay="700")
                    .card-body
                        p 
                            span.badge News
                        p.card-text Convallis interdum mattis morbi ullatmcorper. Felis, elementum
                    .card-footer 
                        a.link.link-arrow(href="./post.html") REad more