section.about.block 
    .container 
        .wrap.wrap--white 
            .row.align-items-center 
                .col-12.col-md-6 
                    .pre-title(data-aos="fade-left") About Us
                    h2(data-aos="fade-up", data-aos-delay="200") Partner with CQR where innovation meets operational resilience.
                    p(data-aos="fade-right", data-aos-delay="800").text-secondary At CQR, we are at the forefront of innovative cyber solutions, dedicated to securing and fortifying Operational technology (OT) infrastructure. Our expertise in OT cybersecurity empowers industries to face future cyber threats with confidence, knowing that their operations are fortified against evolving threats.
                .col-12.col-md-6
                    .text-center
                        img(src="img/lightbulb.svg", alt="", data-aos="zoom-in", data-aos-delay="600")
