include ../../mixins/intro-section

+intro-section("img/home-intro-bg.jpg", "Protect Your Critical Assets, Data, & Operations|")
    p.intro__subtitle.text-center(data-aos="fade-up", data-aos-delay="400") CQR excels in the MITRE Engenuity ATT&CK Evaluation, Managed Services detection-only test.
    .intro__btn.text-center 
        a.btn.btn-primary.btn-arrow(href="#about", data-aos="flip-up") Learn More
    .intro__trusted.text-center 
        .trusted(data-aos="zoom-in") 
            p.text-center.text-secondary Trusted by 4,000+ companies
            .trusted__row.row.justify-content-center 
                .col-auto
                    a(href="").company
                        img(src="img/company-logo-1.svg", alt="")
                .col-auto
                    a(href="").company
                        img(src="img/company-logo-2.svg", alt="")
                .col-auto
                    a(href="").company
                        img(src="img/company-logo-3.svg", alt="")
                .col-auto
                    a(href="").company
                        img(src="img/company-logo-4.svg", alt="")