section.latest.block 
    .container 
        h2(data-aos="fade-right") Latest Resources
        .swiper.swiper-resources
            .swiper-wrapper 
                .swiper-slide.latest-slide 
                    a.card.card--white(href="#") 
                        .card-body
                            img.card-img(src="img/card-img-1.jpg", alt="")
                            h4.card-title How CQR Excelled in the MITRE Engenuity ATT&CK Evaluation.
                            p.card-text A detailed overview of CQR's success in threat detection testing within the ATT&CK framework.
                .swiper-slide.latest-slide    
                    a.card.card--white(href="#") 
                        .card-body
                            img.card-img(src="img/card-img-2.jpg", alt="")
                            h4.card-title Top Managed Security Service Trends in 2024
                            p.card-text Explore the latest trends and approaches in managed security services for the coming year.
                .swiper-slide.latest-slide    
                    a.card.card--white(href="#blog") 
                        .card-body
                            img.card-img(src="img/card-img-3.jpg", alt="")
                            h4.card-title Maximizing Detection-Only Managed Services
                            p.card-text Discover strategies to optimize detection-only managed services for enhanced security.
        .text-center 
            a.btn.btn-primary.btn-arrow.btn-bottom(href="#", data-aos="flip-up", data-aos-delay="400") More Resources
script.
    var swiper = new Swiper(".swiper-resources", {
        slidesPerView: 1.5,
        spaceBetween: 16,
        breakpoints: {
        640: {
        slidesPerView: 2,
        },
        992: {
        slidesPerView: 3,
        },
        },
    });
