section.we.block 
    .container 
        .wrap.wrap--green 
            .row 
                .col-12.col-xl-4.align-self-center 
                    .pre-title.text-center(data-aos="fade-down") Who we are
                    h3.text-center.mb-0(data-aos="fade-up") Cyber Guard Solutions: Empowering Digital Defense Through Innovation and Expertise
                .col-12.col-md-6.col-xl-4 
                    .card.card--green(data-aos="flip-left", data-aos-delay="200") 
                        .card-body
                            p.card-text “Welcome to CQR, your reliable ally in Cyber Security Solutions. As a prominent industry provider, we excel in delivering state-of-the-art security services customized to protect your digital assets. Our team comprises seasoned experts committed to strengthening your cyber defenses against evolving threats.
                        .card-footer
                            .text-center 
                                img.img-circled(src="img/icon-2.png", alt="")
                .col-12.col-md-6.col-xl-4 
                    .card.card--green(data-aos="flip-right", data-aos-delay="200") 
                        .card-body 
                            p.card-text “Welcome to CQR, your reliable ally in Cyber Security Solutions. As a prominent industry provider, we excel in delivering state-of-the-art security services customized to protect your digital assets. Our team comprises seasoned experts committed to strengthening your cyber defenses against evolving threats.
                        .card-footer
                            .text-center 
                                img.img-circled(src="img/icon.png", alt="")