footer.footer.block 
    .container 
        .row.justify-content-between 
            .col-12.col-md-6
                .pre-title Get Started
                h3 Join the CQR Team and Shape the Future of OT Cybersecurity!
                a.btn.btn-primary.btn-arrow(href="#") Get started
            .col-12.col-md-6.col-lg-4.col-xl-3
                img.footer__img(src="img/footer-img.svg", alt="")
        br
        .row.justify-content-between
            .col-12.col-md-3
                .logo.footer__logo 
                    a(href="") 
                        img(src="img/logo.svg", alt="")
                div Welcome to CQR., your trusted partner in comprehensive Cyber Security Solutions. As a leading provider in the industry.
            .col-4.col-md-3.col-xl-2 
                h6 Company
                // wp_nav_menu() - company-menu
                .menu-company-menu-container
                    ul#company-menu.menu.company-menu
                        li.menu-item
                            a(href="./about.html") About Us
                        li.menu-item
                            a(href="./services.html") Services
                        li.menu-item
                            a(href="./careers.html") Careers
                        li.menu-item
                            a(href="./blog.html") Blog
            //- .col-4.col-md-3.col-xl-2 
            //-     h6 Support
                // wp_nav_menu() - support-menu
                .menu-support-menu-container
                    ul#support-menu.menu.support-menu
                        li.menu-item
                            a(href="./about.html") Help Center
                        li.menu-item
                            a(href="./services.html") Forum
                        li.menu-item
                            a(href="./careers.html") Contact Us
            .col-4.col-md-3.col-xl-2 
                h6 Follow Us
                nav 
                    a(href="", target="_blank") 
                        img(src="img/x.svg", alt="")

        .hr 
        .row.justify-content-between
            .col-6 
                div Copyright © 2024 CQR.
            .col-auto 
                .row 
                    .col-auto 
                        a(href="", target="_blank") Privacy Policy
                    .col-auto 
                        a(href="", target="_blank") Cookie Policy 