header.header(data-aos="fade-down") 
    .container 
        .row.justify-content-between.align-items-center 
            .col-auto
                .logo.header__logo 
                    a(href="./index.html") 
                        img(src="img/logo.svg", alt="")
            .col-auto
                .row 
                    .col-auto.header__banner 
                        .banner 
                            svg.text-icon(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 21.5H23L12 2.5L1 21.5ZM13 18.5H11V16.5H13V18.5ZM13 14.5H11V10.5H13V14.5Z", fill="#98EF7E")
                            span.text-uppercase Experiencing  a breach? 
                            b Call us: 
                            a(href="tel:+9663808654") +966 3808654
                    .col-auto.header__btn 
                        a.btn.btn-primary(href="") Started
                    .col-auto 
                        .navigation 
                            button.navigation__btn.btn.btn-secondary.js-navigation-btn(type="button") 
                                span.cross 
                                    span 
                                    span
                            .navigation__inner
                                // wp_nav_menu() - primary-menu
                                .menu-primary-menu-container
                                    ul#primary-menu.menu.primary-menu
                                        li.menu-item
                                            a(href="./services.html") Products & Services
                                        li.menu-item
                                            a(href="./sectors.html") Industries Served
                                        li.menu-item
                                            a(href="./about.html") About Us
                                        li.menu-item
                                            a(href="./careers.html") Careers
                                        li.menu-item
                                            a(href="./contacts.html") Contact Us
                                        li.menu-item
                                            a(href="./about.html#investors") Investor Relations
                                        li.menu-item
                                            a(href="./blog.html") Blog
