nav.socials 
    a(href="")
        img(src="img/linkedin-green.svg", alt="", target="_blank")
    a(href="")
        img(src="img/facebook-green.svg", alt="", target="_blank")
    a(href="")
        img(src="img/twitter-green.svg", alt="", target="_blank")
    a(href="")
        img(src="img/share-green.svg", alt="", target="_blank")