section.intro.block 
    img.intro__bg(src="img/blog-intro-bg.svg", alt="")
    .container
        .row.justify-content-center
            .col-12.col-lg-10
                .card.card--green(data-aos="zoom-in") 
                    .card-body 
                        p 
                            span.badge Webinar
                        p 
                            img.text-icon(src="img/calendar.svg", alt="")
                            |  12 Sep 2021
                        h4.card-title Lorem Ipsum generators on the Internet    
                        picture.video-cover
                            source(srcset="img/blog-img-3-wide.jpg", media="(min-width: 992px)")
                            img.card-img.mb-0(src="img/blog-img-3.jpg", alt="")
                        p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Diam ultrices odio ornare sollicitudin habitant viverra ornare. 
            .col-12.col-lg-10
                .text-right 
                    include ../socials
