section.about.block
    .container 
        .wrap.wrap--white(data-aos="zoom-in") 
            .row.align-items-center 
                .col-12.col-md-6 
                    .pre-title About Us
                    h2 We know how to protect you.
                    div Welcome to CQR, your trusted partner in comprehensive Cyber Security Solutions. As a leading provider in the industry, we specialize in delivering cutting-edge security services tailored to safeguard your digital assets. With a team of seasoned experts, we are dedicated to fortifying your cyber defenses against evolving threats. Our commitment to excellence is reflected in our proactive approach, ensuring that your organization stays steps ahead in the ever-changing landscape of cybersecurity. Partner with us to secure your digital future and navigate the complexities of the online world with confidence.
                .col-12.col-md-6
                    .text-center
                        img(src="img/brain.svg", alt="")
