include ../../mixins/intro-section

+intro-section("img/about-intro-bg.png", "About Us")
    p.intro__subtitle.text-center(data-aos="fade-up", data-aos-delay="800") Welcome to CQR, your trusted partner in comprehensive Cyber Security Solutions.
    .intro__btn.text-center 
        a.btn.btn-primary.btn-arrow(href="", data-aos="flip-up") Learn More