section.investors.block 
    .container 
        .wrap.wrap--green 
            .row
                .col-12.col-xl-4.align-self-center 
                    .pre-title.text-center(data-aos="fade-down") Investor Relations
                    h3.text-center(data-aos="fade-up") Lorem ipsum dolor sit amet, consectetur.
                    .text-center 
                        a.btn.btn-primary.btn-arrow(href="", data-aos="flip-up", data-aos-delay="400") Learn More
                .col-xl-8(data-aos="zoom-in", data-aos-delay="600") 
                    .row 
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/lightbox.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/globalbank.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/boltshift.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/lightbox.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/featherdev.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/globalbank.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/featherdev.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/boltshift.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/featherdev.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/boltshift.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/globalbank.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/featherdev.svg", alt="")