section.investors.block#investors 
    .container 
        .wrap.wrap--green(data-aos="zoom-in") 
            .row
                .col-12.col-xl-4.align-self-center 
                    .pre-title.text-center Investor Relations
                    h3.text-center Lorem ipsum dolor sit amet, consectetur.
                    .text-center 
                        a.btn.btn-primary.btn-arrow Learn More
                .col-xl-8
                    .row 
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/lightbox.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/globalbank.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/boltshift.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/lightbox.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/featherdev.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/globalbank.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/featherdev.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/boltshift.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/featherdev.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/boltshift.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/globalbank.svg", alt="")
                        .col-6.col-sm-4
                            a.card.card--white(href="#")
                                .card-body 
                                    .investor 
                                        img(src="img/featherdev.svg", alt="")