section.mission.block 
    .container 
        .wrap.wrap--green(data-aos="zoom-in") 
            .pre-title.text-center Vision and Mission
            h3.text-center Securing the Future: Advanced Cyber Solutions for Resilient OT Infrastructure
            .row
                .col-12.col-md-6
                    .card.card--green
                        .card-body
                            .row 
                                .col-2 
                                    img(src="img/vision-icon.svg", alt="")
                                .col-10
                                    h6.card-title Vision
                                    p.card-text At CQR, we envision a digitally secure future, where innovation in cybersecurity sets new standards, fostering a world defined by trust, privacy, and resilience in every digital interaction.
                .col-12.col-md-6
                    .card.card--green
                        .card-body
                            .row 
                                .col-2 
                                    img(src="img/mission-icon.svg", alt="")
                                .col-10
                                    h5.card-title Mission
                                    p.card-text We dedicate ourselves to providing unparalleled protection, blending proactive strategies, cutting-edge tech, and expert guidance. Through research, collaboration, and unwavering integrity, we fortify digital landscapes for businesses and individuals, ensuring a safer cyberspace for all.