section.mission.block 
    .container 
        .wrap.wrap--green(data-aos="zoom-in") 
            .row
                .col-12.col-xl-4.align-self-center 
                    .pre-title.text-center Vision and Mission
                    h3.text-center.mb-0 Securing the Future: Advanced Cyber Solutions for Resilient OT Infrastructure
                .col-12.col-md-6.col-xl-4 
                    .card.card--green
                        .card-body
                            p.card-text At CQR, we envision a digitally secure future, where innovation in cybersecurity sets new standards, fostering a world defined by trust, privacy, and resilience in every digital interaction.
                        .card-footer
                            .text-center 
                                img.img-circled(src="img/icon-6.svg", alt="")
                .col-12.col-md-6.col-xl-4 
                    .card.card--green
                        .card-body
                            p.card-text We dedicate ourselves to providing unparalleled protection, blending proactive strategies, cutting-edge tech, and expert guidance. Through research, collaboration, and unwavering integrity, we fortify digital landscapes for businesses and individuals, ensuring a safer cyberspace for all.
                        .card-footer
                            .text-center 
                                img.img-circled(src="img/icon-7.svg", alt="")