include ../../mixins/intro-section

+intro-section("img/careers-intro-bg.jpg", "Careers")
    p.intro__subtitle.text-center(data-aos="fade-up", data-aos-delay="800") Shape the future of OT Cybersecurity!
