section.opportunities.block 
    .container 
        .pre-title.text-center(data-aos="fade-down") Explore opportunities in:
        h2.h3.text-center(data-aos="fade-up") Whether you're an experienced cybersecurity professional or just starting your journey, CQR offers roles that challenge and inspire.
        .hr
        .opportunity
            .opportunity-grid 
                .opportunity-grid__title 
                    h3.mb-0(data-aos="fade-right") IT Support Specialist
                .opportunity-grid__description 
                    div(data-aos="zoom-in") Provide top-tier technical support, troubleshoot issues, and ensure seamless IT operations for our team. Ideal candidates are detail-oriented and have a background in IT support and troubleshooting.
                .opportunity-grid__marks 
                    .row.g-2(data-aos="fade-up", data-aos-delay="400") 
                        .col-auto 
                            .badge
                                img.text-icon(src="img/geo.svg", alt="")
                                span 100% Remote
                        .col-auto 
                            .badge
                                img.text-icon(src="img/clock.svg", alt="")
                                span Full-time
                .opportunity-grid__btn 
                    .opportunity__btn(data-aos="fade-left")
                        a.btn.btn-primary.btn-arrow(href="./careers-vacancy.html") View job
        .hr
        .opportunity
            .opportunity-grid 
                .opportunity-grid__title 
                    h3.mb-0(data-aos="fade-right") Cyber Security Specialist
                .opportunity-grid__description 
                    div(data-aos="zoom-in") Help safeguard our infrastructure and protect our data by developing and implementing robust cybersecurity protocols. We’re looking for candidates with experience in cybersecurity strategies, threat mitigation, and network defense.
                .opportunity-grid__marks 
                    .row.g-2(data-aos="fade-up", data-aos-delay="400") 
                        .col-auto 
                            .badge
                                img.text-icon(src="img/geo.svg", alt="")
                                span 100% Remote
                        .col-auto 
                            .badge
                                img.text-icon(src="img/clock.svg", alt="")
                                span Full-time
                .opportunity-grid__btn 
                    .opportunity__btn(data-aos="fade-left")
                        a.btn.btn-primary.btn-arrow(href="./careers-vacancy-not-found.html") View job
        .hr
        .opportunity
            .opportunity-grid 
                .opportunity-grid__title 
                    h3.mb-0(data-aos="fade-right") Security Training Specialist
                .opportunity-grid__description 
                    div(data-aos="zoom-in") Join us to educate and train our team on security best practices, compliance, and risk management. Ideal candidates have experience in cybersecurity training programs, curriculum development, and organizational compliance.
                .opportunity-grid__marks 
                    .row.g-2(data-aos="fade-up", data-aos-delay="400") 
                        .col-auto 
                            .badge
                                img.text-icon(src="img/geo.svg", alt="")
                                span 100% Remote
                        .col-auto 
                            .badge
                                img.text-icon(src="img/clock.svg", alt="")
                                span Full-time
                .opportunity-grid__btn 
                    .opportunity__btn(data-aos="fade-left")
                        a.btn.btn-primary.btn-arrow(href="./careers-vacancy-not-found.html") View job
