section.vacancy.block 
        .container 
            .pre-title.text-center Find your vacancy
            h2.h3.text-center IT Support Specialist
            .hr
            .opportunity
                .opportunity-grid 
                    .opportunity-grid__title 
                        h3.mb-0 Job description
                    .opportunity-grid__description 
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat venenatis nibh ac sodales. Mauris eget suscipit mi. Morbi lobortis porta dui a rhoncus. Maecenas quis aliquet massa, ornare tempus nulla. Morbi sit amet mauris id lacus vestibulum facilisis tristique eu ante. Vestibulum tempus a augue eu accumsan. Vivamus luctus lorem quis mi finibus condimentum. Proin elementum augue vel risus semper, at suscipit lectus facilisis.
                        h4 Your Responsibilities:
                        ul 
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        h4 Job requirements
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat venenatis nibh ac sodales. Mauris eget suscipit mi.
                        ul 
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.\
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat venenatis nibh ac sodales. Mauris eget suscipit mi. Maecenas quis aliquet massa, ornare tempus nulla. Morbi sit amet mauris id lacus vestibulum facilisis tristique eu ante. Vestibulum tempus a augue eu accumsan. Vivamus luctus lorem quis mi finibus condimentum. Proin elementum augue vel risus semper, at suscipit lectus facilisis.
                    .opportunity-grid__btn 
                        .opportunity__btn
                            a.btn.btn-primary.btn-arrow(href="#") Apply