section.vacancy.block 
    .container 
        h2.h3.text-center Although we don't have open positions now, we're always looking for talented individuals
        .text-center 
            a.btn.btn-primary.btn-arrow(href="./contacts.html") Send CV