section.why.block 
    .container 
        h2.text-center(data-aos="fade-left") Why Work at CQR?
        .row
            .col-12.col-md-6.col-lg-3 
                .card.card--green(data-aos="flip-left", data-aos-delay="200") 
                    .card-body 
                        p.card-text 
                            img(src="img/why-icon-1.svg", alt="")
                        h5.card-title Lead in OT Security
                        p.card-text Be part of pioneering efforts in OT-focused Managed Security Operations, threat hunting, and advanced cybersecurity solutions.
            .col-12.col-md-6.col-lg-3 
                .card.card--green(data-aos="flip-left", data-aos-delay="300") 
                    .card-body 
                        p.card-text 
                            img(src="img/why-icon-2.svg", alt="")
                        h5.card-title Work with Experts
                        p.card-text Collaborate with globally recognized experts who have experience at leading organizations.
            .col-12.col-md-6.col-lg-3 
                .card.card--green(data-aos="flip-left", data-aos-delay="400") 
                    .card-body 
                        p.card-text 
                            img(src="img/why-icon-3.svg", alt="")
                        h5.card-title Advance Your Skills
                        p.card-text Advance your skills with specialized training programs, awareness initiatives, and opportunities to work on groundbreaking projects.
            .col-12.col-md-6.col-lg-3 
                .card.card--green(data-aos="flip-left", data-aos-delay="500") 
                    .card-body 
                        p.card-text 
                            img(src="img/why-icon-4.svg", alt="")
                        h5.card-title Drive Innovation
                        p.card-text Join a company that values operational resilience, compliance, and innovation in cybersecurity.