section.intro.block 
    img.intro__bg(src="img/blog-intro-bg.svg", alt="")
    .container
        .card.card--green(data-aos="zoom-in") 
            .card-body 
                .row.justify-content-between.row-reverse
                    .col-12.col-md-6.col-xl-5
                        img.card-img.mb-0(src="img/blog-img-1.jpg", alt="")
                    .col-12.col-md-6  
                        p 
                            span.badge News
                        p 
                            img.text-icon(src="img/calendar.svg", alt="")
                            |  12 Sep 2021
                        h4.card-title Lorem Ipsum generators on the Internet    
                        p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Diam ultrices odio ornare sollicitudin habitant viverra ornare. 